{
    ViewData["Title"] = "CreateSessionPage (should not be called)";
}

<div id="clientKey" class="hidden">@ViewBag.ClientKey</div>

<div class="session">
    <div>
        The session you created:
    </div>
    
        <button onclick="startSession()">Create Pay Button</button>


</div>

<script src="~/js/adyenCreateSession.js" asp-append-version="true"></script>
<script src="~/js/adyenCreateButton.js" asp-append-version="true"></script>